h2, p, li, td {
  font-family: Palanquin;  
}

h1 {
  font-family: Courier;
  font-size: 60px;
  font-weight: 800;
  color: #229922;
}
p, li, td {
  font-size: 16px;
}

.external-services li {
  list-style: none;
  font-size: 18px;
}

.fine-print {
  font-size: 9px;
}

.blinking-cursor {
  font-weight: 100;
  font-size: 60px;
  color: #229922;
  -webkit-animation: 2s blink step-end infinite;
  -moz-animation: 2s blink step-end infinite;
  -ms-animation: 2s blink step-end infinite;
  -o-animation: 2s blink step-end infinite;
  animation: 2s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
